body{
    background-color: rgb(206, 234, 238);
    
}

h1{
    text-align: center;
    padding: 10px;
    background-color: #efefef;
    font-size: 5em;
    color: rgb(21, 6, 34);
    
    
}
h2{
    text-align: center;
    padding: 10px;
    background-color: #efefef;
    font-size: 5em;
    color: blueviolet;


}

a:hover{
    background-color: rgb(19, 202, 141);

    


}

p {
    float: left;
    border: 1px solid black;
    border-radius: 5px;
    width: 400px;
    top: 60px;
    position: relative;
    box-shadow: 5px 10px 8px black;
    align-content: center;
    display: inline-block;
    margin: auto;
    padding: 10px;


    

}

 /*.quiz { 
        padding: 30px;
        font-family: sans-serif;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        float: right;
        

}*/

.picture {
    position: relative;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 10px black;

        
        
}

