/* *{
    border: 1px solid;
} */
body {
    background: silver;
}

.picture{
    position: absolute;
    float: center;
    display:inline-block;
    width: 100%;
    max-width: 400px;

}

.text{
    border: 2px solid;
    border-radius: 5px;
    box-shadow: 5px 10px 8px #0c030f;
    font-family: sans-serif;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    display:inline-block;
    width: 45%;
    float: right;
}

h1{
    text-align: center;
    padding: 10px;
    background-color: #efefef;
    font-size: 5em;
    color: rgb(75, 26, 187);
}

p { 
    /* left: 350px; */
    border: 2px solid;
    margin:10px;
    text-decoration: rgb(14, 168, 168);
    border-radius: 5px;
    box-shadow: 5px 10px 8px #0e0a0a;
}

/* .quiz { 
        padding: 30px;
        font-family: sans-serif;
        margin-left: auto;
        margin-right: auto;
        /* width: 50%; */
        /* float: center; */
        /* display: inline-block */




